.volvo{
    width:200px;
    margin: 10px auto;
}
h1{
    text-align: center;
}
.all{
    padding: 20px;
    width: 400px;
    margin: 10px auto;
    border: 2px solid #cbc9c9;
}
.something{
    text-align: center;
}