body{
    background-color: #fff7f0;
}
div{
    padding-left: 8px;
    padding-right: 8px;
    width: 40%;
    margin-bottom: 10px;
}

.dot{
    border: 1px dashed #ff7e7e;
}
.firstdiv{

    border: 1px solid rgb(78, 76, 76);
}

.secondiv{
    border: 1px dashed rgb(78, 76, 76);
}
.purp{
    color: #972789;
}

.oraneg{
    background-color:#fdca96;
    font-weight: bold;
}

.yellow{
    background-color: #fdfd96;
    font-weight: bold;
}