.Pearnt {
    display: grid;
    grid-template-areas: 'first second';
    width: 100%;
    height: 100%;
}
    
.First{
    grid-area: first;
    width: 50%;
    background-color: #ffa500;
}

.second{
    grid-area:second;
    width: 50%;
    background-color: #0000ff;
}