.last:hover{
    border: 2px solid grey;
    background-color: white;
    display:inline-block;
    color: rgb(41, 41, 41);
    transform: translateY(-20%);
    transform: translateX(-5%);
    font-weight: normal;
}
.last{
    font-weight:bold;
}
.paragraphs{
    width: 40%;

}
.parent{
    background-color: white;
    background-image: url("athing.png");
    background-repeat: repeat-y;
    position: absolute;
    border: 1px solid black;
    width: 200px;
    height: 600px;
    background-size: 100%;
    top: 0;
    right: 0;
}
